<!--<!DOCTYPE html>-->
<!--<html lang="en" >-->
<!--<head>-->
<!--  <meta charset="UTF-8">-->
<!--  <title>Login Page with Background Image Example</title>-->
<!--  <link rel="stylesheet" href="{{ url_for('static', filename='css/style_register.css') }}">-->

<!--</head>-->
<!--<body>-->
<!--&lt;!&ndash;{% for mesg in get_flashed_messages() %}&ndash;&gt;-->
<!--&lt;!&ndash;      <h1>{{ mesg }}</h1>&ndash;&gt;-->
<!--&lt;!&ndash;      {% endfor %}&ndash;&gt;-->
<!--&lt;!&ndash; partial:index.partial.html &ndash;&gt;-->
<!--&lt;!&ndash;<div id="bg"></div>&ndash;&gt;-->
<!--<form method="POST" action="">-->
<!--&lt;!&ndash; Aquí agregamos la imagen &ndash;&gt;-->
<!--  <div class="logo-empresa">-->
<!--    <img src="static/imagenes/logo_prime.png" alt="Imagen de ejemplo">-->
<!--  </div>-->
<!--  {{ form.hidden_tag() }}-->
<!--<div class="form-field">-->
<!--  {{ form.username }}-->
<!--  </div>-->

<!--  <div class="form-field">-->
<!--  {{ form.password }}-->
<!--  </div>-->

<!--  <div class="form-field">-->
<!--  {{ form.submit }}-->
<!--  </div>-->


<!--<hr>-->
<!--<div class="pie-form">-->
<!--  <a href="{{url_for('index')}}">¿Ya tienes cuenta? Inicia Sesión</a>-->
<!--<hr>-->
<!--</form>-->
<!--&lt;!&ndash; partial &ndash;&gt;-->

<!--</body>-->
<!--</html>-->


<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Login Page with Background Image Example</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style_register.css') }}">
  <style>
    /* Estilos para el mensaje flash */
    .flash-message {
      background-color: red;
      color: white;
      padding: 10px;
      width: 100%;
      text-align: center;
      position: absolute;
      top: -60px; /* Distancia desde la parte superior */
      border-radius: 4px;
      left: 0;
      z-index: 1;
    }
  </style>
</head>
<body>
<!--{% for mesg in get_flashed_messages() %}-->
<!--      <h1>{{ mesg }}</h1>-->
<!--      {% endfor %}-->
<!-- partial:index.partial.html -->
<div id="bg"></div>
<form method="POST" action="">

    <!-- Mostrar mensaje flash encima del logo-empresa -->
  {% with messages = get_flashed_messages() %}
    {% if messages %}
      <div class="flash-message">
        {{ messages[0] }}
      </div>
    {% endif %}
  {% endwith %}

<!-- Aquí agregamos la imagen -->
  <div class="logo-empresa">
    <img src="static/imagenes/logo_prime.png" alt="Imagen de ejemplo">
  </div>

  {{ form.hidden_tag() }}
  <div class="form-field">
    {{ form.username }}
  </div>

  <div class="form-field">
    {{ form.password }}
  </div>

  <div class="form-field">
    {{ form.submit }}
  </div>

  <hr>
  <div class="pie-form">
    <a href="{{url_for('index')}}">¿Ya tienes cuenta? Inicia Sesión</a>
  <hr>
  </div>
</form>
<!-- partial -->

<!-- Código JavaScript para ocultar el mensaje flash al escribir en el input "username" -->
<script>
  document.addEventListener("DOMContentLoaded", function() {
    var usernameInput = document.getElementById("username");
    var flashMessage = document.querySelector(".flash-message");

    usernameInput.addEventListener("input", function() {
      // Ocultar el mensaje flash
      flashMessage.style.display = "none";
    });
  });
</script>

</body>
</html>



